[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"c239d01" = {file = "https://github.com/OriHoch/dataflows/archive/support-load-from-datapackage-resources.zip"}
"70bf3c7" = {file = "https://github.com/OriHoch/datapackage-pipelines/archive/dataflows-http-headers.zip"}
"6fe1f57" = {file = "https://github.com/OriHoch/datapackage-pipelines-ckan/archive/support-multiple-datasets-headers-translated-error-message.zip"}
pyyaml = "*"

[requires]
python_version = "3.6"
