.docker-data
.idea
.env
.tmp-secrets
secrets.env
etc-ckan-default
ckan-dump
mnt-nfs
nginx-secret
.htpasswd
who.ini
development.ini
development-local.ini
docker-compose.override.yml
ckan/.local-config
k8s
.local-config
