[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

argparse = "==1.4.0"
babel = "==2.3.4"
beaker = "==1.8.1"
bleach = "==1.5.0"
click = "==6.7"
decorator = "==4.0.6"
fanstatic = "==0.12"
flask = "==0.11.1"
flask-babel = "==0.11.2"
formencode = "==1.3.0"
funcsigs = "==1.0.2"
"html5lib" = "==0.9999999"
itsdangerous = "==0.24"
"jinja2" = "==2.8"
mako = "==1.0.4"
markdown = "==2.6.7"
markupsafe = "==0.23"
nose = "==1.3.7"
ofs = "==0.4.2"
pairtree = "==0.7.1-t"
passlib = "==1.6.5"
paste = "==1.7.5.1"
pastedeploy = "==1.5.2"
pastescript = "==2.0.2"
pbr = "==1.10.0"
polib = "==1.0.7"
"psycopg2" = "==2.4.5"
pygments = "==2.1.3"
pylons = "==0.9.7"
pysolr = "==3.6.0"
python-dateutil = "==1.5"
python-magic = "==0.4.12"
pytz = "==2016.7"
"pyutilib.component.core" = "==4.6.4"
redis = "==2.10.5"
"repoze.lru" = "==0.6"
"repoze.who-friendlyform" = "==1.0.8"
"repoze.who" = "==2.3"
requests = "==2.11.1"
routes = "==1.13"
rq = "==0.6.0"
simplejson = "==3.10.0"
sqlalchemy-migrate = "==0.10.0"
sqlalchemy = "==1.1.11"
sqlparse = "==0.2.2"
tempita = "==0.5.2"
tzlocal = "==1.3"
unicodecsv = "==0.14.1"
vdm = "==0.14"
weberror = "==0.13.1"
webhelpers = "==1.3"
webob = "==1.0.8"
webtest = "==1.4.3"
werkzeug = "==0.11.10"
"zope.interface" = "==4.3.2"


[dev-packages]

ipdb = "*"
