
.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
    font-weight: bold;
    font-size: 110%;
}

.odatasets ul.dataset-list {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.odatasets h2 {
    font-size:250%;
    padding-left: 15px;
}

.odatasets p.alldatasets {
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
}

.odatasets p.alldatasets a {
    font-size: 150%;
}

.btn-danger {
    background-color: #CD352D;
}

.btn-warning {
    background-color: #AA660E;
}

.btn-primary {
    background-color: #2B72AB;
}

.badge {
    background-color: #000000;
}

.label[data-format=tiff], .label[data-format*=tiff] {
    background-color: #e0051e;
}

.label[data-format=xls], .label[data-format*=xls] {
    background-color: #237B48;
}

.label[data-format=xlsx], .label[data-format*=xlsx] {
    background-color: #237B48;
}

.label[data-format=xsl], .label[data-format*=xsl] {
    background-color: #237B48;
}

.label[data-format=ics], .label[data-format*=ics] {
    background-color: #796901;
}

.label[data-format=csv], .label[data-format*=csv] {
    background-color: #856A00;
}

.label[data-format=xml], .label[data-format*=xml] {
    background-color: #AD5100;
}

.label[data-format=qgis], .label[data-format*=qgis] {
    background-color: #AE16D4;
}

.label[data-format=zip], .label[data-format*=zip] {
    background-color: #6B6B6B;
}

.label[data-format=doc], .label[data-format*=doc] {
    background-color: #5254FF;
}

.label[data-format=docx], .label[data-format*=docx] {
    background-color: #5254FF;
}

.label[data-format=ppt], .label[data-format*=ppt] {
    background-color: #9A5B0E;
}

.label[data-format=pptx], .label[data-format*=pptx] {
    background-color: #9A5B0E;
}

.dataset-resources li a  {
    background-color: #000000;
}
