.masthead {
    background: #0c00ff url(../../../base/images/bg.png);
}

.account-masthead {
    background: #000000 url(../../../base/images/bg.png);
}

.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
    font-weight: bold;
    font-size: 110%;
}
