.masthead {
    background: #0c00ff url(../../../base/images/bg.png);
}

.account-masthead {
    background: #000000 url(../../../base/images/bg.png);
}

.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
    font-weight: bold;
    font-size: 110%;
}

.odatasets ul.dataset-list {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.odatasets h2 {
    font-size:250%;
    padding-left: 15px;
}

.odatasets p.alldatasets {
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
}

.odatasets p.alldatasets a {
    font-size: 150%;
}