{% extends "group/read_base.html" %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ c.group_dict.display_name }}{% endblock %}</h1>
  <table class="table table-striped table-bordered table-condensed"
         id="related_entities_table"
         data-originalgroupname="{{ c.group_dict.name }}"
         data-documentslabel="{{ _('Documents') }}"
         data-expandlabel="{{ _('Expand') }}"
         data-shrinklabel="{{ _('Shrink') }}"
         data-loadinglabel="{{ _('Loading') }}"
  >
    <thead>
      <tr>
        <th scope="col">{{ _('source entity') }}</th>
        <th scope="col">{{ _('related entity') }}</th>
        <th scope="col">{{ _('related entity type') }}</th>
        <th scope="col">{{ _('number of related entities') }}</th>
        <th scope="col">{{ _('number of documents') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for related_group in related_groups %}
        <tr data-relatedgroupname="{{ related_group.name }}" data-relatedgroupdisplayname="{{ related_group.display_name }}">
          <th class="dataset-label">{{ c.group_dict.display_name }}</th>
          <td class="dataset-details"><a href="/group/entities?name={{related_group.name}}">{{ related_group.display_name }}</a></td>
          <td class="dataset-details">{{ related_group.entity_secondary_type }}</td>
          <td class="dataset-details">{{related_group.num_related_groups}} <a href="javascript:void(0);" data-expanded="false">({{ _('Expand') }})</a></td>
          <td class="dataset-details">{{related_group.num_datasets}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'odata_org_il/odata-entities.js' %}
{% endblock -%}
