{% ckan_extends %}

{% if show_nums %}
    {% block nums %}
    <div class="row nums">
        <div class="col-md-4">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd data-module="followers-counter" data-module-id="{{ group.id }}" data-module-num_followers="{{ group.num_followers }}">{{ h.SI_number_span(group.num_followers) }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(group.package_count) }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
            <dt>&nbsp;</dt>
            <dd>
                <a href="{% url_for controller="feeds", action="group", id=c.group_dict.name %}" target="_blank">
                    <img src="{% url_for_static "/rss.png" %}" />
                </a>
            </dd>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block inner %}
    {{ super() }}
    <section class="module module-narrow module-shallow">
        {% set extras = dict(h.sorted_extras(group.extras)) %}
        {% set email = extras.get('override_email', extras.get('email')) %}
        {% set officenamecode = extras.get('override_officenamecode', extras.get('officenamecode')) %}
        {% set mmdofficetypeid = extras.get('override_mmdOfficesTypes_tid', extras.get('mmdOfficesTypes_tid')) %}
        {% set url = extras.get('override_foi_link', 'https://forms.gov.il/globalData/getsequence/Gethtmlform.aspx'
                     '?formType=hofeshmeyda@justice.gov.il'
                     '&Kind='+mmdofficetypeid+''
                     '&Authority='+officenamecode+''
                     '&InfoType=NULL'
                     '&PaymentType=NULL'
                     '&infoFormType=1' if mmdofficetypeid and officenamecode else '')
        %}
        {% if email or url %}
        <h2 class="module-heading">
            <i class="fa fa-filter"></i>
            {{ _('Send freedom of information requests') }}
        </h2>
        <nav>
            <ul class="list-unstyled nav nav-simple nav-facet">
                {% if email %}
                <li class="nav-item">
                    <a href="mailto:{{email}}" title="title" target="_blank">
                        <span class="item-label">{{ _('Send via email') }}</span>
                    </a>
                </li>
                {% endif %}
                {% if url %}
                <li class="nav-item">
                    <a href="{{url}}" title="title" target="_blank">
                        <span class="item-label">{{ _('Send via online form') }}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        <p class="module-footer"></p>
    </section>
{% endblock %}
