{% ckan_extends %}

{% if show_nums %}
    {% block nums %}
    <div class="row nums">
        <div class="col-md-4">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd data-module="followers-counter" data-module-id="{{ group.id }}" data-module-num_followers="{{ group.num_followers }}">{{ h.SI_number_span(group.num_followers) }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(group.package_count) }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
            <dt>&nbsp;</dt>
            <dd>
                <a href="{% url_for controller="feeds", action="group", id=c.group_dict.name %}" target="_blank">
                    <img src="{% url_for_static "/rss.png" %}" />
                </a>
            </dd>
        </div>
    </div>
    {% endblock %}
{% endif %}